.container {
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .hd-cont {
      border: 3px solid rgb(8, 56, 125);
      border-left: none;
      border-top-right-radius: 33px;
      // border-top-bottom-radius: 30px;
      border-bottom-right-radius: 33px;
      width: 60rem;
    }
    // margin-top: 110px;
    padding: 2rem;
    .change-header {
      // border-bottom-left-radius:;
      border-top-left-radius: none;
      border-radius: 30px;
      background: linear-gradient(205deg, black, transparent);
      padding: 1rem;
      width: 60rem;
      // margin-bottom: 3rem;
      text-align: center;
      h3 {
        color: rgb(209, 60, 110);
        font-weight: bold;
        font-size: 33px;
        margin: 0;
      }
    }

    .num-cont {
      // margin-left: 3rem;
      margin: auto;
      margin-top: 5rem;
      border: 3px solid black;
      border-radius: 26px;
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
      width: 550px;
      height: 440px;
      // margin: auto;
      gap: 1.6rem;
      background: linear-gradient(287deg, black, blue);
      span {
        color: rgb(14, 184, 127);
        font-weight: bold;
        font-size: 40px;
      }
    }

    .buttons {
      width: 44rem;
      margin: auto;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      div {
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        margin-bottom: 1rem;
        width: 8.8rem;
      }

      button {
        padding: 1.3rem;

        font-size: 24px;
        height: 30px;
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: blue;
        border: none;
        border-bottom: 2px solid gray;
        border-right: 2px solid gray;
      }
      .yes {
        background: linear-gradient(287deg, black 1px, green 90%, green 90%);
        color: red;
        // margin-bottom: 1rem;
      }
      .no {
        background: linear-gradient(287deg, black, red);
        color: yellow;
      }
    }
  }
}
