.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
.header h1 {
  /* margin-block: 2px; */
  margin-inline: 10px;
}

.header p {
  font-size: 22px;
}
